* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.hello .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.hello .row {
  margin-bottom: 0;
}

.hello .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .hello .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.bgcolour {
  background: linear-gradient(99deg, #187bb4 40%, #FAF9F6 90%);
}

