/* RobotAnimation.css */
.saucer {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 20%; /* Position at the vertical center of the screen */
    transform: translateY(-50%); /* Center the robot vertically */
    transition: left 0.1s linear; /* Smooth transition for horizontal movement */
}
  .robot {
    width: 20px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 23%; /* Position at the vertical center of the screen */
    transform: translateY(-50%); /* Center the robot vertically */
    transition: left 0.1s linear; /* Smooth transition for horizontal movement */
  }
  
  
  